<ng-container>
  
  <div class="table-container overflow-y-auto">
    <div class="flags-container">
      <div *ngFor="let paciente of pacientes" (click)="onClick(paciente)"
        class="d-flex flex-column m-3 justify-content-center align-items-center purple rounded">
        <div>
          <b>DNI: </b>
          <span>{{paciente.dni}}</span>
        </div>
        <div>
          <b>NOMBRE: </b>
          <span>{{paciente.nombre}} {{paciente.apellido}}</span>
        </div>
      </div>
    </div> 
  </div>
  <div class="button-container">
    <div *ngFor="let paciente of pacientes">
      <div class="button-container">
        <button class="custom-fab btn-primary" color="primary" aria-label="Descargar paciente" (click)="handleExcelTurnosPaciente(paciente)">
          <img class="foto" src="{{paciente.img_1}}" alt="">
          <p class="nombre">{{paciente.nombre}}</p>
        </button>
      </div>
    </div>
  </div>
  <button class="btn btn-primary mt-3" (click)="exportarExcel()">Excel usuarios</button>
  
</ng-container>
