<ng-container>
  <button class="btn btn-primary m-3" (click)="toggleContenedor()">{{mensajeBoton}}</button>
  <div *ngIf="mostrarTabla" class="table-container overflow-y-auto">
    <div class="flags-container mt-3">
      <div *ngFor="let paciente of pacientes" (click)="onClick(paciente)"
        class="d-flex flex-column m-3 justify-content-center align-items-center purple rounded">
        <div>
          <b>DNI: </b>
          <span>{{paciente.dni}}</span>
        </div>
        <div>
          <b>NOMBRE: </b>
          <span>{{paciente.nombre}} {{paciente.apellido}}</span>
        </div>
      </div>
    </div> 
  </div>
  <div *ngIf="mostrarBotonContainer"  class="button-container center-container" style="text-align: center;">
    <ng-container *ngFor="let paciente of pacientes">
        <button class="custom-fab btn-primary" color="primary" aria-label="Descargar paciente" (click)="handleExcelTurnosPaciente(paciente)">
          <img class="foto" src="{{paciente.img_1}}" alt="">
          <p class="nombre">{{paciente.nombre}}</p>
        </button>
    </ng-container>
  </div>
  <button class="btn btn-primary mt-3" (click)="exportarExcel()">Excel usuarios</button>
  
</ng-container>
