
.table-container{
    background-color: #49a22b;
    color: aliceblue;
  }
  .flags-container > div{
    cursor: pointer;
  }
  
  .purple{
  
    background-color: #004373;
    cursor: pointer;
  }
  .btn:hover{
    background-color: #004373;
  }
 .custom-fab {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 50%; /* Asegura que la imagen sea redonda en un botón circular */
}

.nombre {
  z-index: 9;
  margin-top: 28px; /* Espacio entre la imagen y el nombre */
  text-shadow: 4px 4px 8px rgba(0,0,0,0.6);
}
