
.table-container{
    background-color: #49a22b;
    color: aliceblue;
  }
  .flags-container > div{
    cursor: pointer;
  }
  
  .purple{
  
    background-color: #004373;
    cursor: pointer;
  }
  .btn:hover{
    background-color: #004373;
  }