<ng-container>
  <div class="table-container overflow-y-auto">
    <div class="flags-container">
      <div *ngFor="let paciente of pacientes" (click)="onClick(paciente)"
        class="d-flex flex-column m-3 justify-content-center align-items-center purple rounded">
        <div>
          <button mat-fab color="primary" aria-label="Descargar paciente" class="custom-fab" (click)="handleExcelTurnosPaciente(paciente)">
            <div class="container">
              <img class="foto" src="{{paciente.img_1}}" alt="">
              <p class="nombre">{{paciente.nombre}}</p>
            </div>
          </button>
        </div>
      </div>
    </div> 
  </div>
  <button class="btn btn-primary mt-3" (click)="exportarExcel()">Excel usuarios</button>
</ng-container>
