<app-navbar [showButtons]="true" [usuario]="user"></app-navbar>
<app-spinner [showSpinner]="loading"></app-spinner>
<div class="container-web">
    <div class="row">
        <h2 class="title mt-5">Seleccione el tipo de usario</h2>
        <div class="contenedor-tipo">
            <div class="cuadrado  btn btn-primary"  routerLink="alta-especialista">
                <img src="../../../assets/especialista.png">
            </div>
            <div class="cuadrado btn btn-primary" routerLink="alta-paciente">
                <img src="../../../assets/paciente.png">
            </div>
        </div>
    </div>
</div>
