<app-navbar [usuario]="user"></app-navbar>
<app-spinner [showSpinner]="loading"></app-spinner>
<div class="container-web">
    <div class="row">
        <h2 class="title mt-5">Seleccione el tipo de usario</h2>
        <div class="col-md-12 col-lg-6 ">
            <div class="container-sections">
                <img src="../../../assets/especialista.png">
                <h2>Registrarse como especialista</h2>
                <button class="btn btn-primary" routerLink="alta-especialista">Especialista</button>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 ">
            <div class="container-sections">
                <img src="../../../assets/paciente.png">
                <h2>Registrarse como paciente</h2>
                <button class="btn btn-primary" routerLink="alta-paciente">Paciente</button>
            </div>
        </div>
    </div>
</div>
