/*.form-floating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}
.left{
    margin-right: 10px;
}
.activo:hover{
    background-color: #fff;
    color: #007bff;
}*/

.row{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 100px;
    
}
.title{
    text-align: center;
}
.contenedor-tipo{
    display: flex;
    justify-content: space-around;

}
.cuadrado{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}
.btn{
    width: 200px;
}
.col-md-12{
    cursor: pointer;
}