.captcha-container{
    width: 100%;
}
img{
    height: 60px;
 
}
.img-pokemon{
    filter: drop-shadow(11px 5px 20px #000000);
}
.captcha{
    width: 100%;
    display: flex;
}
.container-img{
    text-align: center;
    width: 20%;
    
}
.container-buttons{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 1;
}
.btn{
    margin-right: 10px;
    font-size: 10px;
}
.check{
    height: 20px;
    border-radius: 50%;
}
.green{
 color: green;
 font-weight: 400;
}
.red{
    color: red;
    font-weight: 400;
    font-size: 10px;
}
.checker{
    display: flex;
    border: 2px solid rgb(145, 145, 145);
    background-color: #fff;
    width: 40%;
    height: 70px;
    justify-content: space-around;
    align-items:center;
}
.label{
    font-weight: 500;
}
.recaptcha{
    height: 60px;
}
.container-message{
    width: 60%;
    margin-left: 30px;
}
