.captcha-container{
    width: 100%;
}
img{
    height: 100px;
    text-align: center;
}
.captcha{
    width: 40%;
    display: flex;
}
.container-img{
    text-align: center;
}
.container-buttons{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 1;
}
.btn{
    margin-right: 10px;
    font-size: 10px;
}
.check{
    height: 50px;
    border-radius: 50%;
}
.green{
 color: green;
 font-weight: 400;
}
.red{
    color: red;
    font-weight: 400;
}
.checker{
    display: flex;
    border: 2px solid rgb(145, 145, 145);
    background-color: #fff;
    width: 40%;
    height: 70px;
    justify-content: space-around;
    align-items:center;
}
.label{
    font-weight: 500;
}
.recaptcha{
    height: 60px;
}
