img{
    height: 100px;
    text-align: center;
}
.container-img{
    width: 25%;
    text-align: center;
}
.btn{
    margin-right: 20px;
    font-size: 10px;
}
.check{
    height: 50px;
    border-radius: 50%;
}
.green{
 color: green;
 font-weight: 400;
}
.red{
    color: red;
    font-weight: 400;
}
.checker{
    display: flex;
    border: 1px solid grey;
    width: 40%;
}
