<div class="captcha mt-2">
    <div class="checker" *ngIf="!showCaptcha">
      <input type="checkbox" [(ngModel)]="showCaptcha" (click)="toggleCaptcha()">
      <label class="label" for="showCaptcha">I'm not a robot</label>
      <img src="../../../assets/captcha.png" alt="" class="recaptcha">
    </div>
    <div *ngIf="showCaptcha" class="container-img form-control">
        <div class="captcha">
            <div class="container-img form-control">
                <img id="pokemon-image" class="img" [src]="pokemonImage" alt="Pokemon Image">
            </div>
            <div class="container-buttons">
                <button class="btn btn-success"*ngFor="let option of options" (click)="checkAnswer(option, pokemonNameCorrect)"  [disabled]="disabledButton" >{{ option }}</button>
            </div>
            <div class="container-message">
                <p class="{{colorText}}">{{mensaje}}</p>
                <img src="{{check}}" alt="" class="check">
            </div>
        </div>
    </div>
  </div>

<!--

<div class="captcha-container">
    <p>{{ number1 }} {{ operator }} {{ number2 }} = ?</p>
    <button *ngFor="let option of options" (click)="checkAndGenerate(option)">{{ option }}</button>
  </div>-->