<app-navbar [showButtons]="true" [usuario]="user"></app-navbar>

<div class="container-fluid contenedor p-4 h-100 mt-5" *ngIf="user.tipo === 'especialista'">
  <h2 class="text-center">Pacientes atendidos</h2>
  <div class="row">
    <div class="col-6" *ngFor="let paciente of pacientesEspecialista">
      <div class="card">
        <img class="card-img-top" [src]="paciente.img_1" alt="Foto de {{ paciente.nombre }} {{ paciente.apellido }}">
        <div class="card-body">
          <h5 class="card-title">{{ paciente.nombre }} {{ paciente.apellido }}</h5>
          <p class="card-text">DNI: {{ paciente.dni }}</p>
          <p class="card-text">Edad: {{ paciente.edad }}</p>
          <p class="card-text">Obra Social: {{ paciente.obraSocial }}</p>
          <p class="card-text">Email: {{ paciente.email }}</p>
          <p class="card-text" *ngFor="let turno of paciente.ultimosTurnos">Último turno: {{ turno.fecha}}</p>
          <button class="btn btn-primary largo" routerLink="/login/historia" [state]="{ mail: paciente.email }">Historia Clinica</button>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="container-fluid contenedor p-4 h-100 mt-5" *ngIf="user.tipo === 'paciente'">
  <div class="card">
    <div class="container-img">
      <img class="foto" [src]="user.img_1" alt="Foto de {{ user.nombre }} {{ user.apellido }}">
      <img class="foto" [src]="user.img_2" alt="Foto de {{ user.nombre }} {{ user.apellido }}">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ user.nombre }} {{ user.apellido }}</h5>
      <p class="card-text"><span>DNI:</span> {{ user.dni }}</p>
      <p class="card-text"><span>Edad:</span> {{ user.edad }}</p>
      <p class="card-text"><span>Obra Social:</span> {{ user.obraSocial}}</p>
      <p class="card-text"><span>Email:</span> {{ user.email }}</p>
    </div>
  </div>
</div>

<div class="container-fluid contenedor p-4 h-100 mt-5" *ngIf="user.tipo ==='admin'">
    <div class="container-buttons">
        <button class="btn btn-primary" (click)="cambiarVista('pacientes')" [class.active]="mostrarPacientes">Ver Pacientes</button>
        <button class="btn btn-primary" (click)="cambiarVista('especialistas')" [class.active]="mostrarEspecialistas">Ver Especialistas</button>
    </div>
  <div class="row row-table pt-5 overflow-y-auto h-100">
    <div class="col-lg-6 col-md-12" *ngIf="mostrarPacientes">
      <!-- Listado de Pacientes -->
      <h1>Lista de Pacientes</h1>
      <div class="table-container">
        <app-listado-pacientes (selectedPacienteEvent)="selectedPaciente($event)">
        </app-listado-pacientes>
        
      </div>
    </div>

    <div class="col-lg-6 col-md-12" *ngIf="mostrarPacientes">
      <!-- Detalle de Paciente -->
      <app-card-paciente [paciente]="selectPaciente" (cleanPacienteEvent)="selectPaciente = $event"></app-card-paciente>
    </div>

    <div class="col-lg-6 col-md-12" *ngIf="mostrarEspecialistas">
      <!-- Listado de Especialistas -->
      <h1>Lista de Especialistas</h1>
      <div class="table-container">
        <app-listado-especialistas (selectedEspecialistaEvent)="selectedEspecialista($event)">
        </app-listado-especialistas>
      </div>
    </div>

    <div class="col-lg-6 col-md-12" *ngIf="mostrarEspecialistas">
      <!-- Detalle de Especialista -->
      <app-card-especialista [especialista]="selectEspecialista" (cleanEspecialistaEvent)="selectEspecialista = $event"></app-card-especialista>
    </div>
  </div>
 
</div>