<app-navbar [showButtons]="true" [usuario]="user"></app-navbar>

<div class="container-fluid contenedor p-4 h-100 mt-5" *ngIf="user.tipo === 'especialista'">
  <h2 class="text-center">Pacientes atendidos</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Foto</th>
        <th>Nombre y Apellido</th>
        <th>DNI</th>
        <th>Edad</th>
        <th>Obra Social</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paciente of pacientesEspecialista">
        <td>
          <div class="container-img">
            <img class="foto-tabla" [src]="paciente.img_1" alt="Foto de {{ paciente.nombre }} {{ paciente.apellido }}">
          </div>
        </td>
        <td>{{ paciente.nombre }} {{ paciente.apellido }}</td>
        <td>{{ paciente.dni }}</td>
        <td>{{ paciente.edad }}</td>
        <td>{{ paciente.obraSocial }}</td>
        <td>{{ paciente.email }}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container-fluid contenedor p-4 h-100 mt-5" *ngIf="user.tipo === 'paciente'">
  <div class="card">
    <div class="container-img">
      <img class="foto" [src]="user.img_1" alt="Foto de {{ user.nombre }} {{ user.apellido }}">
      <img class="foto" [src]="user.img_2" alt="Foto de {{ user.nombre }} {{ user.apellido }}">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ user.nombre }} {{ user.apellido }}</h5>
      <p class="card-text"><span>DNI:</span> {{ user.dni }}</p>
      <p class="card-text"><span>Edad:</span> {{ user.edad }}</p>
      <p class="card-text"><span>Obra Social:</span> {{ user.obraSocial}}</p>
      <p class="card-text"><span>Email:</span> {{ user.email }}</p>
    </div>
  </div>
</div>

<div class="container-fluid contenedor p-4 h-100 mt-5" *ngIf="user.tipo ==='admin'">
    <div class="container-buttons">
        <button class="btn btn-primary" (click)="cambiarVista('pacientes')" [class.active]="mostrarPacientes">Ver Pacientes</button>
        <button class="btn btn-primary" (click)="cambiarVista('especialistas')" [class.active]="mostrarEspecialistas">Ver Especialistas</button>
    </div>
  <div class="row row-table pt-5 overflow-y-auto h-100">
    <div class="col-lg-6 col-md-12" *ngIf="mostrarPacientes">
      <!-- Listado de Pacientes -->
      <h1>Lista de Pacientes</h1>
      <div class="table-container">
        <app-listado-pacientes (selectedPacienteEvent)="selectedPaciente($event)">
        </app-listado-pacientes>
        
      </div>
    </div>

    <div class="col-lg-6 col-md-12" *ngIf="mostrarPacientes">
      <!-- Detalle de Paciente -->
      <app-card-paciente [paciente]="selectPaciente" (cleanPacienteEvent)="selectPaciente = $event"></app-card-paciente>
    </div>

    <div class="col-lg-6 col-md-12" *ngIf="mostrarEspecialistas">
      <!-- Listado de Especialistas -->
      <h1>Lista de Especialistas</h1>
      <div class="table-container">
        <app-listado-especialistas (selectedEspecialistaEvent)="selectedEspecialista($event)">
        </app-listado-especialistas>
      </div>
    </div>

    <div class="col-lg-6 col-md-12" *ngIf="mostrarEspecialistas">
      <!-- Detalle de Especialista -->
      <app-card-especialista [especialista]="selectEspecialista" (cleanEspecialistaEvent)="selectEspecialista = $event"></app-card-especialista>
    </div>
  </div>
 
</div>