<app-navbar [showButtons]="true" [usuario]="user"></app-navbar>
<div class="h-100" style="text-align: center;">
   <div class="container-fluid contenedor p-4 mt-5">
      <div class="card">
             <h1 *ngIf="etapa != 'confirmar' && etapa != 'fin'">Solicitar Turno</h1>
    
             <br>
             <!-- Dropdown especialidades -->
             <div class="form-floating mb-3" *ngIf="etapa == 'especialidad'">
             <h4>Especialidad</h4>
             <div *ngFor="let esp of especialidades">
                <div class="container">
                   <div class="overlay imagenBoton">
                      <div (click)="elegirEspecialidad(esp)" class="btn btn-primary text">{{esp}}</div>
                   </div>
                   </div>
             </div>
             <p *ngIf="especialidades.length == 0"><br>No se encuentran especialistas con esta especialidad <br>Elija otra por favor</p>
             <br><br>
             <div style="text-align: right;">
                <button class="btn btn-success" (click)="volver('especialista')">Volver</button> 
             </div>
             </div>
            <!-- Dropdown especialidades-->
    
             <!-- Dropdown especialistas -->
             <div class="form-floating mb-3" *ngIf="etapa == 'especialista'">
               <h4>Especialista</h4>
               <div class="row">
                 <div *ngFor="let esp of especialistas" class="col-md-2 mb-3">
                   <div class="container">
                     <img class="imagen-especialista" src="{{esp.img_1}}" height="100px" width="100px" alt="{{esp.apellido}}">
                     <div class="overlay btn-especialista">
                        <div (click)="elegirEspecialista(esp.nombre, esp.apellido)" class="btn btn-primary text">{{esp.nombre + ' ' + esp.apellido}}</div>
                      </div>
                        <h5 class="card-text"><span>Especialidades:</span> {{ esp.especialidades.join(', ') }}</h5>
                     
                   </div>
                 </div>
               </div>
             </div>
             <!-- Dropdown especialistas-->
    
             <!-- HORARIOS DISPONIBLES -->
             <div class="modal-content rounded-4 shadow"style="text-align: center; max-width: 1250px;max-height: 600px; margin: 0 auto;"  *ngIf="etapa == 'horario'">  
               <div class="modal-body p-5 pt-0">
                 <br>   
                 <div style="text-align: right;">
                   {{diaString}} {{dia}} de {{mes}}
                   <button class="btn" [ngClass]="{'btn-primary': restarDia, 'btn-secondary': !restarDia}" (click)="sumarRestarDias('antes')"><</button> 
                   <button class="btn" [ngClass]="{'btn-primary': sumarDia, 'btn-secondary': !sumarDia}" (click)="sumarRestarDias('despues')">></button> 
                 </div>
                 <br>
                 <div class="table">
                   <h4 style="text-align: center;">Horarios disponibles</h4>
             
                   <div class="row">
                     <h3>{{noHayDatos}}</h3>
                     <div class="col-2" *ngFor="let horario of horariosDisponiblesOtroFormato; let i=index">
                       <button type="button" class="btn btn-success horarios" (click)="elegirHorario(horario)">{{horario}}</button>
                     </div>
                   </div>
             
                 </div>
                 <button class="btn btn-primary" (click)="volver('especialidad')">Volver</button> 
               </div>
             </div>
             <!-- HORARIOS DISPONIBLES -->
    
    
             <!-- Confirmar turno -->
             <div class="form-floating mb-3" *ngIf="etapa == 'confirmar'">
                <h1>Confirmar turno</h1>
                <br>
                <p>Especialidad <br>
                {{especialidadElegida}}</p>
                <br>
                <p>Especialista <br>
                {{especialistaElegidoStr}}</p>
                <br>
                <p>Horario <br>
                {{diaElegido}}</p> 
                <button class="btn btn-success" (click)="confirmar()" >Confirmar</button> 
                <br><br>
                <div style="text-align: right;">
                   <button class="btn btn-primary" (click)="volver('horario')" >Volver</button> 
                </div>
                </div>
                <!-- Confirmar turno-->
    
                <!-- Turno Solicitado -->
                <div class="form-floating mb-3" *ngIf="etapa == 'fin'">
                <h1>Turno Solicitado</h1>
                <p>Ir a mis turnos</p>
                <br><br>
                   <button class="btn btn-success" (click)="volver('irMisTurno')" >Mis Turnos</button> 
                </div>
                <!-- Turno Solicitado-->
               </div>
          </div>
         </div>
   