<app-navbar [showButtons]="true" [usuario]="user"></app-navbar>

<div class="h-100" style="text-align: center;">
  <div class="container-fluid contenedor p-4 mt-5">
    <div class="card">
      <h1 *ngIf="etapa != 'confirmar' && etapa != 'fin'">Solicitar Turno</h1>

      <br>

      <!-- Dropdown especialidades -->
      <div class="row" *ngIf="etapa == 'especialidad'">
        <div class="col-12">
          <h4>Especialidad</h4>
        </div>
        <div *ngFor="let especialidad of especialidades" class="col-md-3 mb-3">
          <div class="container">
            <div class="overlay imagenBoton">
              <div (click)="elegirEspecialidad(especialidad.nombre)" class="btn btn-primary especialidad-btn">
                <img class="img-especialidad" src="{{imgEspecialidad(especialidad.nombre)}}" alt="{{especialidad.nombre}}" title="{{especialidad.nombre}}">
              </div>
            </div>
          </div>
        </div>
       
      </div>
      <!-- Dropdown especialidades -->

      <!-- Dropdown especialistas -->
      <div class="form-floating mb-3" *ngIf="etapa == 'especialista'">
        <div class="col-12">
          <h4>Especialista</h4>
        </div>
        <div class="row">
          <div class="col-12">
            <p *ngIf="especialistasPorEspecialidad.length == 0"><br>No se encuentran especialistas con esta especialidad <br>Elija otra por favor</p>
          </div>
          <br><br>
          <div *ngFor="let esp of especialistasPorEspecialidad" class="col-md-3 mb-3">
            <div class="container">
              <div class="overlay btn-especialista">
                <div (click)="elegirEspecialista(esp.nombre, esp.apellido)" class="btn btn-primary btn-especialista">
                  {{esp.nombre + ' ' + esp.apellido}}
                  <img class="imagen-especialista" src="{{esp.img_1}}" height="100px" width="100px" alt="{{esp.apellido}}">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" style="text-align: right;">
          <button class="btn btn-success" (click)="volver('especialidad')">Volver</button>
        </div>
      </div>
      <!-- Dropdown especialistas -->

      <!-- HORARIOS DISPONIBLES -->
      <div class="modal-content rounded-4 shadow" style="text-align: center; max-width: 1250px; max-height: 600px; margin: 0 auto;" *ngIf="etapa == 'horario'">
        <div class="modal-body p-5 pt-0">
          <br>
          <div style="text-align: right;">
            {{diaString}} {{dia}} de {{mes}}
            <button class="btn" [ngClass]="{'btn-primary': restarDia, 'btn-secondary': !restarDia}" (click)="sumarRestarDias('antes')"><</button>
            <button class="btn" [ngClass]="{'btn-primary': sumarDia, 'btn-secondary': !sumarDia}" (click)="sumarRestarDias('despues')">></button>
          </div>
          <br>
          <div class="table">
            <h4 style="text-align: center;">Horarios disponibles</h4>
            <div class="row">
              <h3>{{noHayDatos}}</h3>
              <div class="col-6 col-md-2" *ngFor="let horario of horariosDisponiblesOtroFormato; let i=index">
                <button type="button" class="btn btn-success horarios" (click)="elegirHorario(horario)">{{horario}}</button>
              </div>
            </div>
          </div>
          <button class="btn btn-primary" (click)="volver('especialista')">Volver</button>
        </div>
      </div>
      <!-- HORARIOS DISPONIBLES -->

      <!-- Confirmar turno -->
      <div class="form-floating mb-3" *ngIf="etapa == 'confirmar'">
        <h1>Confirmar turno</h1>
        <br>
        <p>Especialidad <br>
          {{especialidadElegida}}</p>
        <br>
        <p>Especialista <br>
          {{especialistaElegidoStr}}</p>
        <br>
        <p>Horario <br>
          {{diaElegido}}</p>
        <button class="btn btn-success" (click)="confirmar()">Confirmar</button>
        <br><br>
        <div style="text-align: right;">
          <button class="btn btn-primary" (click)="volver('horario')">Volver</button>
        </div>
      </div>
      <!-- Confirmar turno -->

      <!-- Turno Solicitado -->
      <div class="form-floating mb-3" *ngIf="etapa == 'fin'">
        <h1>Turno Solicitado</h1>
        <p>Ir a mis turnos</p>
        <br><br>
        <button class="btn btn-success" (click)="volver('irMisTurno')">Mis Turnos</button>
      </div>
      <!-- Turno Solicitado -->
    </div>
  </div>
</div>
