<form (submit)="onSubmit()" [formGroup]="form">
    <div class="row">
      <div class="col-md-6">
        <!-- COMUN A TODOS LOS USUARIOS -->
        
        <div class="container-names">
          <div class="name">
            <app-custom-input class="form-control {{nombre.errors ? 'is-invalid': ''}} left" divClass="mb-4" label="Nombre"
              controlName="nombre" type="text">
              <small class="invalid-feedback">Nombre inválido (solo letras)</small>
            </app-custom-input>
          </div>

          <div class="lastname">
            <app-custom-input class="form-control {{apellido.errors ? 'is-invalid': ''}}" divClass="mb-4" label="Apellido"
              controlName="apellido" type="text">
              <small class="invalid-feedback">Apellido inválido (solo letras)</small>
            </app-custom-input>
          </div>

        </div>
  
        <app-custom-input class="form-control {{edad.errors ? 'is-invalid': ''}}" divClass="mb-4" label="Edad"
          controlName="edad" type="text">
          <small class="invalid-feedback">Edad inválido (solo numeros)</small>
        </app-custom-input>
    
        <app-custom-input class="form-control {{dni.errors ? 'is-invalid': ''}}" divClass="mb-4" label="DNI"
          controlName="dni" type="text">
          <small class="invalid-feedback">DNI inválido (solo numeros)</small>
        </app-custom-input>
        
        <app-custom-input class="form-control {{email.errors ? 'is-invalid': ''}}" divClass="mb-4" label="Email"
        controlName="email" type="mail">
        <small class="invalid-feedback">Email invalido (solo letras)</small>
      </app-custom-input>

      <app-custom-input class="form-control {{clave.errors ? 'is-invalid': ''}}" divClass="mb-4" label="Clave"
        controlName="clave" type="password">
        <small class="invalid-feedback">Clave invalida</small>
      </app-custom-input>
        <app-custom-input class="form-control" divClass="mb-4" label="Foto de perfil 1" type="file" (change)="subirFoto($event)">
          <small class="invalid-feedback">Foto Perfil</small>
        </app-custom-input>
      </div>
      <!-- PACIENTE -->
      <div class="col-md-6" *ngIf="tipoUsuario === 'paciente'">
        <app-custom-input class="form-control" divClass="mb-4" label="Foto de perfil 2" type="file" (change)="subirFoto_2($event)"></app-custom-input>
        <div class="form-floating mt-4">
         <select formControlName="obraSocial" class="form-select" id="floatingInputValue" (click)="handleSelected(obraSocial)">
          <option *ngFor="let obraSocial of listadoObraSocial" [value]="obraSocial.nombre">{{ obraSocial.nombre }}</option>
         </select>
         <label for="floatingInputValue">Obra Social</label>
        </div> 
     </div>
       
  
        <div class="col-md-6" *ngIf="tipoUsuario === 'especialista'">
            <div class="container-files">
                <app-select-especialidad [selectedItems]="espcialidadSeleccionada" (itemSelected)="handleItemSelected($event)"></app-select-especialidad> 
            </div>
        </div>
      <app-captcha (captchaSuccess)="handleCaptchaSuccess($event)"></app-captcha>
    </div>
    <button type="submit" class="btn btn-primary mt-2" [disabled]="buttonDisabled">Enviar</button>
  </form>
  