<app-navbar [items]="links"></app-navbar>
<div class="container-fluid contenedor p-4 h-100">
  <div class="row row-table pt-5 overflow-y-auto h-100">
    <div class="col-lg-6 col-md-12">
      <!-- Listado de Especialistas -->
      <h1>Lista de Pacientes</h1>
      <div class="table-container">
        <app-listado-pacientes (selectedPacienteEvent)="selectedPaciente($event)">
        </app-listado-pacientes>
      </div>
    </div>

    <div class="col-lg-6 col-md-12">
      <!-- Detalle de Especialista -->
      <app-card-paciente [paciente]="selected" (cleanPacienteEvent)="selected = $event"></app-card-paciente>
    </div>
  </div>
</div>
  