<nav class="navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="logo" src="../../../assets/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

      <div class="dropdown" *ngIf="usuario === null">
        <li class="nav-item dropdown">
          <a class="dropdown-item" routerLink="/bienvenida">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-item" routerLink="/registro">Registro</a>
        </li>
        <div *ngIf="!usuario">
          <a routerLink="/login">
            <button class="btn btn-primary">Iniciar Sesión</button>
          </a>
        </div>
      </div>
      <div class="dropdown" *ngIf="usuario?.tipo === 'admin'">
        <li class="nav-item dropdown">
          <a class="dropdown-item" routerLink="/login/mi-perfil">Mi Perfil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-item" routerLink="/login/seccion-usuarios">Usuarios</a>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-item" routerLink="/login/dashboard">Registrar Usuarios</a>
        </li>
      </div>
      <div class="dropdown" *ngIf="usuario?.tipo === 'paciente'">
        <li class="nav-item dropdown">
          <a class="dropdown-item" routerLink="/login/mi-perfil">Mi Perfil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-item" routerLink="/login/mis-turnos">Mis turnos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-item" routerLink="/login/solicitar-turno">Solicitar turno</a>
        </li>
      </div>
      <div class="dropdown" *ngIf="usuario?.tipo === 'especialista'">
        <li class="nav-item dropdown">
          <a class="dropdown-item" routerLink="/login/mi-perfil">Mi Perfil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-item" routerLink="/login/mis-turnos">Mis turnos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="dropdown-item" routerLink="/login/seccion-usuarios">Usuarios</a>
        </li>
        
      </div>
      <ng-container *ngIf="showButtons">
        <div *ngIf="usuario" class="dropdown-center">
          <button class="btn btn-lg dropdown-toggle text-light" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{usuario.email}}
          </button>
          <ul class="dropdown-menu w-100">
            <li class="p-2">
              <button class="btn text-light w-100 bg-danger" (click)="loguot()">Cerrar Sesión</button>
            </li>
          </ul>
        </div>

        
      </ng-container>
    </div>
  </div>
</nav>