<app-navbar [showButtons]="true" [usuario]="usuario"></app-navbar>
<app-spinner [showSpinner]="loading"></app-spinner>
 
 
<div class="h-100" style="text-align: center;" *ngIf="!mostrar">

  <div class="container-fluid contenedor p-4 mt-5">
    <div class="card">
      <div class="container-img">
        <img [src]="imagenes[0]" alt="Foto de {{ nombreCompleto }}">
        <div *ngIf="tipo == 'paciente'" class="btn-group">
          <img src="{{imagenes[1]}}" alt="image" class="imagen">
      </div>
      </div>
      <div class="card-body">
        <h1 class="card-title">{{ nombreCompleto }}</h1>
        <h5 class="card-text"><span>DNI:</span> {{ dni }}</h5>
        <h5 class="card-text"><span>Edad:</span> {{ edad }}</h5>
        <h5 class="card-text"><span>Especialidades:</span> {{ especialidades.join(', ') }}</h5>
        <div *ngIf="tipo == 'paciente'">
          Obra Social
          <br>
          <h2>{{obraSocial}}</h2>
      </div>
        <h5 class="card-text"><span>Email:</span> {{ email }}</h5>
      </div>
      <div>
        <button *ngIf="tipo == 'especialista'" class="btn btn-primary horarios largo" (click)="abrirMisHorarios()">Mis Horarios</button>
    </div>
    <div class="container-btn-paciente">
      <button *ngIf="tipo == 'paciente'" class="btn btn-primary largo" routerLink="/login/historia" [state]="{ email: email }">Historia Clinica</button>
      <button *ngIf="tipo == 'paciente'" class="btn btn-danger largo" (click)="abrirVentanaModal()">Atenciones</button>
      <button *ngIf="tipo == 'paciente'" class="btn btn-danger largo" (click)="imprimirPdf()">Imprimir PDF</button>
    </div>
    </div>
  </div>
</div>

  <div class="container-fluid contenedor p-4 text-center mt-5" *ngIf="usuario.tipo === 'especialista' && mostrar === true">
    <div class="modal-content card" style="text-align: center; max-width: 1200px;max-height: 600px; margin: 0 auto;">
      <br>
      <h1 class="title">Disponibilidad Horaria</h1>
      <br>
      <div style="margin: 0 auto; float: none;" class="w-75 row" *ngFor="let dias of diasDisponibles; let i=index">
        <div class="col-md-3 mb-3">
          <button (click)="cambiarEstado(dias.dia, disponibilidades[i])"
                  [ngClass]="{'btn-success': disponibilidades[i] === 'Habilitado', 'btn-danger': disponibilidades[i] === 'Inhabilitado'}"
                  class="btn disponibilidad">{{ dias.dia }} {{ disponibilidades[i] }}</button>
        </div>
        <div class="col-md-3 mb-3" [ngStyle]="disponibilidades[i] != 'Habilitado' ? {opacity: .3} : {opacity: 1}">
          <div class="form-floating mb-3">
            <div class="btn-group w-100" dropdown #dropdown="bs-dropdown" [autoClose]="false">
              <button id="button-basic" dropdownToggle type="button"
              class="btn btn btn-secondary dropdown-toggle"
              aria-controls="dropdown-basic">{{ dias.ini }}<span class="caret"></span>
            </button>
              <div *ngIf="disponibilidades[i] == 'Habilitado'">
                <ul id="dropdown-basic" *dropdownMenu style="text-align: center;" class="dropdown-menu w-100"
                    role="menu" aria-labelledby="button-basic">
                  <button (click)="cambiarHorario(dias.dia, 'inicio', esp)"
                          dropdownToggle *ngFor="let esp of horariosDisponibles" class="dropdown-item">{{ esp }}</button>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3" [ngStyle]="disponibilidades[i] != 'Habilitado' ? {opacity: .3} : {opacity: 1}">
          <div class="form-floating mb-3">
            <div class="btn-group w-100" dropdown #dropdown="bs-dropdown" [autoClose]="false">
              <button id="button-basic" dropdownToggle type="button"
                      class="btn btn btn-secondary dropdown-toggle"
                      aria-controls="dropdown-basic">{{ dias.fin }}<span class="caret"></span>
              </button>
              <div *ngIf="disponibilidades[i] == 'Habilitado'">
                <ul id="dropdown-basic" *dropdownMenu style="text-align: center;" class="dropdown-menu w-100"
                    role="menu" aria-labelledby="button-basic">
                  <button (click)="cambiarHorario(dias.dia, 'fin', esp)"
                          dropdownToggle *ngFor="let esp of horariosDisponibles" class="dropdown-item">{{ esp }}</button>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-3" [ngStyle]="disponibilidades[i] != 'Habilitado' ? {opacity: .3} : {opacity: 1}">
          <div class="form-floating mb-3">
            <div class="btn-group w-100" dropdown #dropdown="bs-dropdown" [autoClose]="false">
              <button id="button-basic2" dropdownToggle type="button"
                      class="btn btn btn-secondary dropdown-toggle"
                      aria-controls="dropdown-basic">{{ especialidadesPorDia[i] }}<span class="caret"></span>
              </button>
              <div *ngIf="disponibilidades[i] == 'Habilitado'">
                <ul id="dropdown-basic" *dropdownMenu style="text-align: center;" class="dropdown-menu w-100"
                    role="menu" aria-labelledby="button-basic">
                  <button (click)="cambiarEspecialidad(dias.dia, espe)"
                          dropdownToggle *ngFor="let espe of usuario.especialidades" class="dropdown-item">{{ espe }}</button>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <button style="margin: 0 auto; float: none;" class="btn btn-primary" (click)="cerrarModulo()">Confirmar</button>
      <br>
    </div>
    
  </div>
  
<div class="modal fade" id="MiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content text-bg-dark" style="text-align: center;">
          <br>
          <h1>Disponibilidad Horaria</h1>
          <br>
  </div>
</div>


<div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content text-bg-dark" style="text-align: center;">
          <br>
          <h1>Filtrar PDF por especialidad</h1>
          <br>
          <div>
              <input (click)="seleccionarEspecialidad('')" class="form-check-input" type="radio" name="pdfFlex" id="pdfFlex" checked>
              <label class="form-check-label" for="pdfFlex">
                  Ninguna
              </label>
          </div>
          <div *ngFor="let esp of especialidadesDisponibles">
              <input (click)="seleccionarEspecialidad(esp)" class="form-check-input" type="radio" name="pdfFlex" id="pdfFlex">
              <label class="form-check-label" for="pdfFlex">
                  {{esp}}
              </label>
          </div>
          <br>
          <button style="margin: 0 auto; float: none;" class="btn btn-primary" (click)="imprimirPdf()">Crear</button>
      </div>
  </div>
</div>