
.card{
    background-color: #49a22b;
    margin: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
padding: 10px;
border-radius: 5px;
}
.container-img{
    display: flex;
    justify-content: space-around;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border:2px solid #004373;
    text-align: center;
}
.disponibilidad{
    width: 200px;
}
.title{
    color: #fff;
}
.largo{
    width: 250px
}
.container-btn-paciente{
    display: flex;
    justify-content: space-around;
}