<div class="container-web">
    <app-navbar [showButtons]="true" [usuario]="user" (loadingEvent)="loading = $event"></app-navbar>
    <app-spinner [showSpinner]="loading"></app-spinner>
    <div [@slideUp] *ngIf="!loading">
    <div class="row">
        <div class="col-12 bg-image">
            <a href="#" class="header__navbar__logo">On<span class="header__navbar__logo__span--green" id="color">Line</span></a>
        </div>
        <div class="col-12 container-welcome">
            <h4>Para ingresar con su cuenta presione aquí</h4>
            <button class="btn btn-primary" routerLink="/login">Entrar</button>
            <hr>
            <h4>Para registrarse presione aquí</h4>
            <button class="btn btn-primary" routerLink="/registro">Registrarse</button>
        </div>
    </div>
    </div>
</div>
    
    
    
    