.row{
    width: 100vw;
  }
  
  .bg-image {
    background-image: url('../../../assets/welcome_2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0f0a0a; 
  }
  
  .container-welcome {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  hr{
    width: 60vw;
  }
  .btn{
    width: 150px;
  }
  .header__navbar__logo, a {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 800;
    text-decoration: none;
    color: #0097e6;
    text-shadow: 4px 4px 4px rgba(0,0,0,0.75);
  }
  
  .header__navbar__logo__span--green {
    color: #B4F00A;
  }
  