<app-navbar [showButtons]="true" [usuario]="paciente"></app-navbar>
<div style="text-align: center;" class="mt-5">
    <br>
    <h1>Historia Clinica de: {{paciente.nombre}} {{paciente.apellido}}</h1>
</div>
<br><br>
<div class="text-light" *ngFor="let historia of historias">
    <ul class="list-group">
        <li class="list-group-item"><b>Altura: </b><span>{{historia.altura}}</span></li>
        <li class="list-group-item"><b>Peso: </b><span>{{historia.peso}}</span></li>
        <li class="list-group-item"><b>Temperatura: </b><span>{{historia.temperatura}}</span></li>
        <li class="list-group-item"><b>Presion: </b><span>{{historia.presion}}</span></li>
        <li class="list-group-item"><b>Especialidad: </b><span>{{historia.especialidad}}</span></li>
        <li *ngFor="let dinamico of historia.dinamicos" class="list-group-item"><b>{{dinamico.clave}}: </b><span>{{dinamico.valor}}</span></li>
    </ul>
    <br>
</div>