<div class="row">
<div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let especialista of listaEspecialistas">
    <div class="card">
      <div class="container-img">
        <img [src]="especialista.img_1" alt="Foto de {{ especialista.nombre }} {{ especialista.apellido }}">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ especialista.nombre }} {{ especialista.apellido }}</h5>
        <p class="card-text"><span>DNI:</span> {{ especialista.dni }}</p>
        <p class="card-text"><span>Edad:</span> {{ especialista.edad }}</p>
        <p class="card-text"><span>Especialidades:</span> {{ especialista.especialidades.join(', ') }}</p>
        <p class="card-text"><span>Email:</span> {{ especialista.email }}</p>
        <p class="card-text"><span>Estado de Registro</span></p>
      </div>
      <div class="card-footer">
        <select id="items"  class="form-control select" [(ngModel)]="especialista.estados.registro" (change)="cambiarEstado(especialista)">
          <option value="0">Pendiente</option>
          <option value="1">Completado</option>
          <option value="2">Rechazado</option>
        </select>
      </div>
    </div>
  </div>
</div>
  
  
  
  