<ng-container>
  <div class="table-container overflow-y-auto">
    <div class="flags-container">
      <div *ngFor="let especialista of especialistas" (click)="onClick(especialista)"
        class="d-flex flex-column m-3 justify-content-center align-items-center purple rounded">
        <div>
          <b>DNI: </b>
          <span>{{especialista.dni}}</span>
        </div>
        <div>
          <b>NOMBRE: </b>
          <span>{{especialista.nombre}} {{especialista.apellido}}</span>
        </div>
      </div>
    </div> 
  </div>
</ng-container>