<app-navbar [showButtons]="true" [usuario]="user"></app-navbar>
<app-spinner [showSpinner]="hide"></app-spinner>
<div [@fadeInOut] *ngIf="!hide">
<div class="container-fluid">
  <div class="row">
    <!-- Columna del formulario de login -->
    <div class="col-md-6 mt-5">
      <div class="mt-5">
        <img src="../../../../assets/logo.png" alt="">
        <br>
        <a class="header__navbar__logo">On<span class="header__navbar__logo__span--green" id="color">Line</span></a>
        <h2>Ingrese con su cuenta</h2>
        <form (submit)="onSubmit()" [formGroup]="formLogin">
          <div class="row">
            <div class="col-md-12">
              <app-custom-input class="form-control {{email.errors ? 'is-invalid': ''}}" divClass="mb-4" label="Email"
                controlName="email" type="mail">
                <small class="invalid-feedback">Email invalido (solo letras)</small>
              </app-custom-input>

              <app-custom-input class="form-control {{clave.errors ? 'is-invalid': ''}}" divClass="mb-4" label="Clave"
                controlName="clave" type="password">
                <small class="invalid-feedback">Clave invalida</small>
              </app-custom-input>
            </div>
          </div>
          <button class="btn btn-primary position">Enviar</button>
        </form>
      </div>
    </div>

    <!-- Columna de botones de acceso rápido -->
    <div class="col-md-6 mt-5">
      <h2 class="mt-5">Acceso Rápido</h2>
      <div class="d-flex flex-row">
        <!-- Botones para usuarios -->
        <div class="d-inline-block"> <!-- Agrega la clase d-inline-block -->
          <h5>Pacientes</h5>
          <div class="btn btn-outline square-button" (click)="autoComplete('lgxegi00cc@rfcdrive.com','123456')">
            <img class="foto paciente-btn" src="{{mostrarFoto('lgxegi00cc@rfcdrive.com')}}" alt="">
          </div>
          <div class="btn btn-outline square-button" (click)="autoComplete('andres@tippabble.com','123456')">
            <img class="foto paciente-btn" src="{{mostrarFoto('andres@tippabble.com')}}" alt="">
          </div>
          <div class="btn btn-outline square-button" (click)="autoComplete('3zdl0h9p1z@rfcdrive.com','123456')">
            <img class="foto paciente-btn" src="{{mostrarFoto('3zdl0h9p1z@rfcdrive.com')}}" alt="">
          </div>
        </div>
    
        <!-- Botones para especialistas -->
        <div class="d-inline-block"> <!-- Agrega la clase d-inline-block -->
          <h5>Especialistas</h5>
          <div class="btn btn-outline square-button" (click)="autoComplete('gregoryhouse597@gmail.com','123456')">
            <img class="foto especialista-btn" src="{{mostrarFoto('gregoryhouse597@gmail.com')}}" alt="">
          </div>
          <div class="btn btn-outline square-button" (click)="autoComplete('xidifyhnukvzeiusls@cazlq.com','123456')">
            <img class="foto especialista-btn" src="{{mostrarFoto('xidifyhnukvzeiusls@cazlq.com')}}" alt="">
          </div>
        </div>
    
        <!-- Botón para administrador -->
        <div class="d-inline-block"> <!-- Agrega la clase d-inline-block -->
          <h5>Administrador</h5>
          <div class="btn btn-outline square-button" (click)="autoComplete('juan.sueldo1989@gmail.com','123456')">
            <img class="foto admin-btn" src="{{mostrarFoto('juan.sueldo1989@gmail.com')}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>