.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-content {
    margin-top: 70px;
    width: 50%;
    text-align: center;
}
app-custom-input{
    padding: 70px;
}
img{
    height: 100px;
    margin-bottom: 20px;
}
.invalid-feedback{
    padding: 0;
    margin: 0;
}
.position{
    position: relative;
    width: 100%;
}
span{
    margin: 10px;
}
.d-inline-block{
    width: 160px;
}
.btn-outline{
    height: 85px;
    width: 85px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.paciente-btn{
    border: 2px solid rgb(182, 11, 11);
}
.especialista-btn{
    border: 2px solid green;
}
.admin-btn{
    border: 2px solid purple;
}
.foto{
    margin-top: 15px;
    height: 70px;
    width: 70px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}
.foto:hover{
    transition: all 0.5s;
    transform: scale(1.5);
}
.card{
    width: 180px;
    padding: 5px;
}  