.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-content {
    margin-top: 70px;
    width: 50%;
    text-align: center;
}
app-custom-input{
    padding: 70px;
}
img{
    height: 100px;
    margin-bottom: 20px;
}
.invalid-feedback{
    padding: 0;
    margin: 0;
}
.position{
    position: relative;
    width: 100%;
}
span{
    margin: 10px;
}
.foto{
    height: 50px;
    border-radius: 5px;
}
  