<form  (submit)="onSubmit()" [formGroup]="formEspecialista">
    <div class="row">
      <div class="col-md-6">
        <div class="container-names">
          <app-custom-input class="form-control {{nombre.errors ? 'is-invalid': ''}}" divClass="mb-4" label="Nombre"
            controlName="nombre" type="text">
            <small class="invalid-feedback">Nombre invalido (solo letras)</small>
          </app-custom-input>
  
          <app-custom-input class="form-control {{apellido.errors ? 'is-invalid': ''}}" divClass="mb-4" label="Apellido"
            controlName="apellido" type="text">
            <small class="invalid-feedback">Apellido invalido (solo letras)</small>
          </app-custom-input>
        </div>
        
        <app-custom-input class="form-control {{edad.errors ? 'is-invalid': ''}}" divClass="mb-4" label="Edad"
          controlName="edad" type="text">
          <small class="invalid-feedback">Edad invalido (solo numeros)</small>
        </app-custom-input>
        
        <app-custom-input class="form-control {{dni.errors ? 'is-invalid': ''}}" divClass="mb-4" label="DNI"
          controlName="dni" type="text">
          <small class="invalid-feedback">DNI invalido (solo numeros)</small>
        </app-custom-input>
        <app-custom-input class="form-control" divClass="mb-4" label="Foto de perfil 1"
        type="file" (change)="subirFoto($event)">
        <small class="invalid-feedback">Foto Perfil</small>
      </app-custom-input>
      </div>
      <div class="col-md-6">
        
        <app-custom-input class="form-control {{email.errors ? 'is-invalid': ''}}" divClass="mb-4" label="Email"
        controlName="email" type="mail">
        <small class="invalid-feedback">Email invalido (solo letras)</small>
      </app-custom-input>
      
      <app-custom-input class="form-control {{clave.errors ? 'is-invalid': ''}}" divClass="mb-4" label="Clave"
      controlName="clave" type="password">
      <small class="invalid-feedback">Clave invalida</small>
    </app-custom-input>
    <div class="container-files">
          <app-select-especialidad [selectedItems]="espcialidadSeleccionada" (itemSelected)="handleItemSelected($event)"></app-select-especialidad> 
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Enviar</button>
  </form>
  