<app-navbar></app-navbar>
<div class="container">
  <div class="center-content">
    <img src="../../../../assets/logo.png" alt="">
    <br>
    <a class="header__navbar__logo">On<span class="header__navbar__logo__span--green" id="color">Line</span></a>
    <h2>Ingrese con su cuenta</h2>
    <form (submit)="onSubmit()" [formGroup]="formLogin">
      <div class="row">
        <div class="col-md-12">
  
          <app-custom-input class="form-control {{email.errors ? 'is-invalid': ''}}" divClass="mb-4" label="Email"
            controlName="email" type="mail">
            <small class="invalid-feedback">Email invalido (solo letras)</small>
          </app-custom-input>
  
          <app-custom-input class="form-control {{clave.errors ? 'is-invalid': ''}}" divClass="mb-4" label="Clave"
            controlName="clave" type="password">
            <small class="invalid-feedback">Clave invalida</small>
          </app-custom-input>
        </div>
      </div>
      <button  class="btn btn-primary position">Enviar</button>
    </form>
  </div>
</div>


  