.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-content {
    margin-top: 90px;
    width: 50%;
    text-align: center;
}
app-custom-input{
    padding: 70px;
}
img{
    height: 150px;
    margin-bottom: 20px;
}
.invalid-feedback{
    padding: 0;
    margin: 0;
}
.position{
    position: relative;
    width: 100%;
}
  