

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
}
.title{
    text-align: center;
}
.container-sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.btn{
    width: 150px;
}
.col-md-12{
    cursor: pointer;
}